<div *ngIf="selectedUser.id == -1" align="center">

<h1>
  Witaj w bibliotece!
</h1>
Jeżeli posiadasz konto, podaj swój login. Jeżeli nie masz konta, możesz je założyć :-)<br>
<table>
  <tr>
    <td>
<input type="text" placeholder="Wpisz login" [(ngModel)]="login"/><br>
<button (click)="loginUser()"> ZALOGUJ </button>
</td>
<td>
  <input type="text" placeholder="Wpisz login" [(ngModel)]="selectedUser.login"/><br>
  <input type="text" placeholder="Wpisz imię" [(ngModel)]="selectedUser.name"/><br>
  <button (click)="createUser()"> ZAREJESTRUJ </button>
</td>
</tr>
</table>

</div>

<div *ngIf="selectedUser.id != -1" align="center">

<h1 align="center">Witaj {{selectedUser.name}}!</h1>
<button (click)="logoutUser()"> WYLOGUJ </button>
<h1>List of images</h1>
<table style="width: 100%;">
  <tr align="center">
    <td>
      <h2>
      Tytuł
    </h2>
    </td>
    <td>
      <h2>
      Opis
      </h2>
    </td>
    <td>
      <h2>
      Autor
      </h2>
    </td>
    <td>
      <h2>
      Rok
      </h2>
    </td>
    <td>
      <h2>
      Ilość dostępnych sztuk
    </h2>
    </td>
    <td *ngIf="selectedUser.privileges == 0">
      <h2>
      Edytuj
      </h2>
    </td>
    <td *ngIf="selectedUser.privileges == 0">
      <h2>
      Usuń
      </h2>
    </td>
  </tr>
  <tr *ngFor="let book of books">
    <td>
      {{book.title}}
    </td>
    <td>
      {{book.description}}
    </td>
    <td>
      {{book.author}}
    </td>
    <td>
      {{book.year}}
    </td>
    <td>
      {{book.amount}}
    </td>
    <td *ngIf="selectedUser.privileges == 0">
      <button (click)="editBook(book)"> EDYTUJ </button>
    </td>
    <td *ngIf="selectedUser.privileges == 0">
      <button (click)="deleteBook(book)"> USUŃ </button>
    </td>
  </tr>
  
  <tr *ngIf="selectedUser.privileges == 0">
    <td colspan="7">
      Tytuł <input type="text" [(ngModel)]="selectedBook.title"/><br>
      Opis <input type="text" [(ngModel)]="selectedBook.description"/><br>
      Autor <input type="text" [(ngModel)]="selectedBook.author"/><br>
      Rok <input type="text" [(ngModel)]="selectedBook.year"/><br>
      Ilość <input type="text" [(ngModel)]="selectedBook.amount"/><br>
      <button *ngIf="selectedBook.id == -1" (click)="createBook()"> DODAJ NOWY </button>
      <button *ngIf="selectedBook.id != -1" (click)="updateBook()"> ZAPISZ </button>
    </td>
  </tr>
</table>

</div>