<h1>List of images</h1>
<table style="width: 100%;">
  <tr align="center">
    <td>
      <h2>
      Tytuł
    </h2>
    </td>
    <td>
      <h2>
      Opis
      </h2>
    </td>
    <td>
      <h2>
      Autor
      </h2>
    </td>
    <td>
      <h2>
      Rok
      </h2>
    </td>
    <td>
      <h2>
      Edytuj
      </h2>
    </td>
    <td>
      <h2>
      Usuń
      </h2>
    </td>
  </tr>
  <tr *ngFor="let book of books">
    <td>
      {{book.title}}
    </td>
    <td>
      {{book.description}}
    </td>
    <td>
      {{book.author}}
    </td>
    <td>
      {{book.year}}
    </td>
    <td>
      <button (click)="editBook(book)"> EDYTUJ </button>
    </td>
    <td>
      <button (click)="deleteBook(book)"> USUŃ </button>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <button (click)="createBook()"> DODAJ NOWY </button>
      </td>
  </tr>
  <tr>
    <td colspan="6">
      Title <input type="text" [(ngModel)]="selectedBook.title"/><br>
      Description <input type="text" [(ngModel)]="selectedBook.description"/><br>
      Author <input type="text" [(ngModel)]="selectedBook.author"/><br>
      Year <input type="text" [(ngModel)]="selectedBook.year"/><br>
      <button *ngIf="selectedBook.id != -1" (click)="updateBook()"> ZAPISZ </button>
    </td>
  </tr>
</table>